body {
  font-family: sans-serif;
  line-height: 2;
}

span.lvl_desc {
  color: grey;
  padding-left: 2em;
  font-size: 80%;
}

span.formula {
  font-size: 36px;
}

input.result {
  border: 2px solid;
  padding: 4px;
  font-size: 24px;
}

span.result {
  font-weight: bold;
  font-size: 125%;
}

input[type=submit] {
  border: none;
  color: white;
  margin: 16px;
  padding: 8px;
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

input[type=number] {
  width: 4em;
}

h2.success {
  color: green;
}

h2.fail {
  color: red;
}

p.footer {
  font-size: 8px;
  color: grey;
}
