html { overflow-y: scroll; }

body {
  font-family: sans-serif;
  line-height: 2;
}

span.lvl_desc {
  color: grey;
  padding-left: 2em;
  font-size: 80%;
}

span.formula {
  font-size: 36px;
}

input.result {
  border: 2px solid;
  padding: 4px;
  font-size: 24px;
}

span.result {
  font-weight: bold;
  font-size: 125%;
}

input[type=submit] {
  border: none;
  color: white;
  margin: 16px;
  padding: 8px;
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

input[type=number] {
  width: 4em;
}

input[type=text].result {
  width: 14em;
}

.speech {
  border: none;
  color: white;
  margin: 16px;
  padding: 8px;
  background-color: darkblue;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

h2.success {
  color: green;
}

h2.fail {
  color: red;
}

.footer {
  font-size: 8px;
  color: grey;
  line-height: 0.7;
}

.select {
  width: 1.3em;
  height: 1.6em;
  font-size: 36px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.select2 {
  width: 8em;
  height: 1.6em;
  font-size: 36px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.select3 {
  width: 2.5em;
  height: 1.6em;
  font-size: 36px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.label {
  padding: 16px;
  margin: 16px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  border-collapse: collapse;
  border-radius: 16px;
}
.elements {
  margin: 0 16px;
  padding: 16px;
  display: block;
}
span.reference {
  font-size: 50%;
}
span.mistake {
  color: red;
}
span.picture {
  font-size: 200%;
}

table.results {
  border: 1px solid black;
  padding: 4px;
}
td.fail {
  color: red;
  font-weight: bold;
}
td.pass {
  color: darkgreen;
}
